/* stylesheet for David Kerr portfolio home page */

.home-gallery {	
	margin-top: 40px;
	margin-bottom: 40px;
	overflow: auto;
	position: relative;
	text-align: center;
	width: 100%;
}

.gallery-item {
	background-size: cover;
	display: block;
	float: left;
	overflow: hidden;
	position: relative;
}

.gallery-item h2 {
	color: #fff;
	left: 0;
	letter-spacing: 0em;
	margin: 0;
	position: absolute;
	top: 40%;
	transition: letter-spacing .2s ease-in-out;
	width: 100%;
}

.gallery-item-h2-2line {
	top: 30%	!important;
}

.gallery-item img {
	height: auto;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: opacity .4s ease-in-out;
	width: 100%;
}

.half-opacity {
	opacity: .3;
}

@media (min-width: 200px) {
	.gallery-item {
		height: 150px;
		width: 100%;
	}
}

@media (min-width: 700px) {
	.gallery-item {
		height: 200px;
		max-width: 100%;
		min-width: 50%;
		width: inherit;
	}
}

@media (min-width: 1200px) {
	.gallery-item {
		height: 250px;
		max-width: 100%;
		min-width: 33.333%;
		width: inherit;
	}
}
